body{
	background-color:#2c3e50;
}

nav{
	background-color:#ecf0f1;
}

#brand{
	color: #8e44ad; 
	position:relative; top:-20px;
}

#malelogo{
	position:relative; top:1px;
}

#jumb{
	background-color:#ecf0f1;
}
.modal-content{
	background-color:#ecf0f1;
}

h2{
	color: #ecf0f1;
}

h3{
	color: #2c3e50;
}

body,html,.row-offcanvas {
  height:100%;
}


#sidebar {
  width: inherit;
  min-width: 220px;
  max-width: 220px;
  background-color:#ecf0f1;
  float: left;
  height:100%;
  position:relative;
  overflow-y:auto;
  overflow-x:hidden;
}
#main {
  height:100%;
  overflow:auto;
   margin-left: 250px;
   padding-top: 40px;
   padding-bottom: 40px;
   /*background-color: yellow;*/
}

@media screen and (max-width: 1500px) {
#main{
  margin-left: 100px;
}
}

#main::-webkit-scrollbar { 
    display: none; 
}

/*
 * off Canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    width:calc(100% + 220px);
  }
    
  .row-offcanvas-left
  {
    left: -220px;
  }

  .row-offcanvas-left.active {
    left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
  }
}


#right{
    float: right;
    width: 220px;
    height: 100%;
    background-color: #ecf0f1;
    overflow-y:auto;
    overflow-x:hidden; 
}

/*#lewy{
 	background-color: red;
 	color: white;
}

#prawy{
 	background-color: green;
 	color: white;
}

#srodek{
	background-color: yellow;
	color: white;
}*/

/*#rightSidebarItems{
  margin-top:90%;
}*/


#firstLoginForm{
  padding-top: 15px;
  padding-left: 15px;
}


.col-xs-2 {
  width: 20%
}

.welcomeText {
  font-size: 20px;
  text-align: center;
  margin-right: 2%;

}

.modal-content {
  width: 110%;
  padding: 20px;
}

#remainingMoneyBadge{
  background-color:#5cb85c;
}


#spentMoneyBadge{
  background-color:#d9534f;
}

#logoutForm{
  padding-top: 15px;
}

.welcomer{
  width: 100%;
  height: 40px;
  background-color: #2c3e50;
  color: yellow;
}

#leftSectionBars{
  padding-top: 15px;
}


#addPaymentsMoreButton{
  margin-top: 15px;
}

.panel-info>.panel-heading {
color: white;
background-color: #8e44ad;
border-color: #8e44ad;
}
.panel-info {
border-color: #8e44ad;
}

.amountInputs{
  padding-left: 15px;
}

#welcomer{
  background-color:#5cb85c;
}


@media (max-width: 1031px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
  }
}


#respLogout{
  padding-top: 14px;
}

