<div data-ng-controller="AddMealController">
    <div class="form-group">
        <label for="mealName" class="col-sm-2 control-label">Nazwa Potrawy: </label>

        <div class="col-sm-10">
            <input type="text" class="form-control" data-ng-model="mealName" id="mealName"
                   placeholder="Wpisz nazwe potrawy">
        </div>
    </div>
    <div class="form-group">
        <label for="bestColor" class="col-sm-2 control-label">Kolor wina: </label>
        <select class="form-control" data-ng-model="bestColor" id="bestColor">
            <option>Białe</option>
            <option>Czerwone</option>
        </select>
    </div>
    <div class="form-group">
        <label for="bestFlavor" class="col-sm-2 control-label">Moc Wina: </label>
        <select class="form-control" data-ng-model="bestFlavor" id="bestFlavor">
            <option>Mocne</option>
            <option>Średnie</option>
            <option>Delikatne</option>
        </select>
    </div>
    <div class="form-group">
        <label for="bestSugar" class="col-sm-3 control-label">Słodycz Wina: </label>
        <select class="form-control" data-ng-model="bestSugar" id="bestSugar">
            <option>Wytrawne</option>
            <option>Półwytrawne</option>
            <option>Słodkie</option>
        </select>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="registerButton" type="submit" class="btn btn-primary" data-ng-click="addMeal()"
                    data-toggle="modal" data-target="#myModal">Dodaj
            </button>
        </div>
    </div>
</div>