<div data-ng-controller="AddWineController">
    <div class="form-group">
        <label for="wineName" class="col-sm-2 control-label">Nazwa Wina: </label>

        <div class="col-sm-10">
            <input type="text" class="form-control" data-ng-model="wineName" id="wineName"
                   placeholder="Wpisz nazwe wina">
        </div>
    </div>
    <div class="form-group">
        <label for="wineColor" class="col-sm-2 control-label">Kolor wina: </label>
        <select class="form-control" data-ng-model="wineColor" id="wineColor">
            <option>Białe</option>
            <option>Czerwone</option>
        </select>
    </div>
    <div class="form-group">
        <label for="wineFlavor" class="col-sm-2 control-label">Moc Wina: </label>
        <select class="form-control" data-ng-model="wineFlavor" id="wineFlavor">
            <option>Mocne</option>
            <option>Średnie</option>
            <option>Delikatne</option>
        </select>
    </div>
    <div class="form-group">
        <label for="wineSugar" class="col-sm-3 control-label">Słodycz Wina: </label>
        <select class="form-control" data-ng-model="wineSugar" id="wineSugar">
            <option>Wytrawne</option>
            <option>Półwytrawne</option>
            <option>Słodkie</option>
        </select>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="registerButton" type="submit" class="btn btn-primary" data-ng-click="addWine()"
                    data-toggle="modal" data-target="#myModal">Dodaj wino
            </button>
        </div>
    </div>
</div>