<div data-ng-controller="MealListController">
    <table class="table">
        <tr>
            <th>Nazwa Potrawy</th>
            <th>Kolor wina</th>
            <th>Moc wina</th>
            <th>Smak wina</th>
        </tr>
        <tr ng-repeat="x in meals">
            <td>{{ x.mealName }}</td>
            <td>{{ x.bestColor }}</td>
            <td>{{ x.bestFlavor }}</td>
            <td>{{ x.bestSugar }}</td>
        </tr>
    </table>
</div>