<div data-ng-controller="SearchForWineController">
    <div class="form-group">
        <select class="form-control" data-ng-model="mealName2" ng-options="option.mealName for option in options">
        </select>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button id="registerButton" type="submit" class="btn btn-primary" data-ng-click="searchWine()"
                    data-toggle="modal" data-target="#myModal">Szukaj win
            </button>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>Wine</th>
            <th>Color</th>
            <th>Flavor</th>
            <th>Sugar</th>
            <th>Dobranie wina (%)</th>
        </tr>
        <tr ng-repeat="x in wines">
            <td>{{ x.wineName }}</td>
            <td>{{ x.wineColor }}</td>
            <td>{{ x.wineFlavor }}</td>
            <td>{{ x.wineSugar }}</td>
            <td>{{ x.winePercentage }} %</td>
        </tr>
    </table>
</div>