<div data-ng-controller="WineListController">
    <table class="table">
        <tr>
            <th>Nazwa Wina</th>
            <th>Kolor Wina</th>
            <th>Moc Wina</th>
            <th>Słodkosć wina</th>
        </tr>
        <tr ng-repeat="x in wines">
            <td>{{ x.wineName }}</td>
            <td>{{ x.wineColor }}</td>
            <td>{{ x.wineFlavor }}</td>
            <td>{{ x.wineSugar }}</td>
        </tr>
    </table>
</div>